@import "../utilities/mixins.scss";

.page-header {
  max-width: 1392px;
  margin: 0 auto;
  padding: 20px 24px;

  &__container {
    display: flex;
    align-items: center;
    max-width: 1440px;
  }

  &__content {
    flex-grow: 1;
    width: 100%;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
      width: 54px;
    }

    .course-info {
      display: flex;
      align-items: center;
      gap: 24px;

      &__name {
        font-size: 40px;
        font-weight: 700;
      }

      &__stats {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
          width: 21px;
        }
      }
    }
  }

  &__navigation {
    display: flex;
    gap: 24px;
    margin-top: 8px;

    &-list {
      display: flex;
    }

    &-tab-content {
      @include nav-link();

      &:after {
        @include nav-link-after();
      }

      &:hover::after {
        @include nav-link-hover-after();
      }
    }
  }

  &__about-course {
    @include flex(start, space-evenly, column);
    height: 125px;

    .link-button {
      @include button((8px 24px), space-between, $background: $link-button);
      @include font(16px, 600, 170%, $white);

      &:hover {
        background-color: $link-button-hover;
      }

      &:active {
        background-color: $link-button-active;
      }
    }
  }

  .contributors {
    display: flex;
    gap: 16px;

    &__faces {
      position: relative;
      display: flex;
      height: 32px;
    }

    &__face {
      width: 32px;
      border-radius: 100px;

      &_first {
        background-image: url("/src/public/contributors/img-contributor-1.png");
      }

      &_second {
        margin-left: -16px;
        background-image: url("/src/public/contributors/img-contributor-2.png");
      }

      &_third {
        margin-left: -16px;
        background-image: url("/src/public/contributors/img-contributor-3.png");
      }
    }

    &__stats {
      display: flex;
      flex-direction: column;
      width: max-content;
    }

    &__contributors {
      @include link();
      text-decoration: none;
      font-weight: 600;
    }

    &__mentors {
      @include link();
      text-decoration: none;
      font-weight: 500;
    }
  }
}
