@import "../utilities/mixins.scss";

.site-header {
  @include flex(center, space-between);
  max-width: 1392px;
  margin: 0 auto;
  padding: 20px 24px;

  .header-logo {
    &__image {
    }
  }

  .site-navigation {
    @include flex(center, space-between);
    gap: 32px;

    &__tab-link {
      @include nav-link();

      &:after {
        @include nav-link-after();
      }

      &:hover::after {
        @include nav-link-hover-after();
      }
    }
  }

  .burger-menu-icon {
    display: none;
  }
}

@import "../responisive/site-header.scss";
