@import "./colors.scss";

@mixin flex($items: center, $content: start, $flow: row) {
  display: flex;
  flex-flow: $flow;
  align-items: $items;
  justify-content: $content;
}

@mixin position($pos, $t: null, $r: null, $b: null, $l: null) {
  position: $pos;
  top: $t;
  left: $l;
  bottom: $b;
  right: $r;
}

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin border($b-w: 1px, $color, $radius: 2px) {
  border: $b-w solid $color;
  border-radius: $radius;
}

@mixin border-b($b-w, $color) {
  border-bottom: $b-w solid $color;
}

@mixin border-only-radius($radius) {
  border: none;
  border-radius: $radius;
}

@mixin shadow($alpha: 0.35) {
  box-shadow: rgba(0, 0, 0, $alpha) 0px 5px 15px;
}

@mixin font($size: 1rem, $weight: 400, $line-h: 1, $color: $black) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-h;
  color: $color;
}

@mixin margin-y($top, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin button(
  $padding,
  $flex-content: center,
  $color: $black,
  $background: $button
) {
  @include flex($content: $flex-content);
  padding: $padding;
  @include border-only-radius(100px);
  background: $background;

  transition: all 0.4s;
  cursor: pointer;
}

@mixin button-hover($background: $button-hover, $color: $black) {
  color: $color;
  background: $background;
}

@mixin button-active($background: $button-active, $color: $black) {
  color: $color;
  background: $background;
}

@mixin link() {
  color: $link;
  text-decoration: underline;
}

@mixin nav-link() {
  position: relative;
  color: $link;
  display: flex;
  align-items: center;
  padding: 16px 8px;
  line-height: 140%;
  font-weight: 600;
  font-size: 18px;
}

@mixin nav-link-hover-after() {
  width: 100%;
}

@mixin nav-link-after() {
  @include position($pos: absolute, $l: 0, $b: 0);
  @include size(0px, 2px);
  content: "";
  background-color: $link;
  transition: width 0.3s ease;
}
