@import "../../utilities/mixins.scss";

main {
  max-width: 1440px;
  padding: 0px 32px;
  margin: 0 auto;
}

.wrapper {
  @include flex(start, space-between);
}

article {
  width: 100%;
  max-width: 650px;
}

section {
  margin-bottom: 12px;
}

aside {
  position: sticky;
  top: 10px;

  ul {
    list-style: none;
    padding: 0px;

    li {
      margin: 0px;
      border-left: 2px solid $grey-300;
      padding: 8px;
      padding-left: 16px;

      &.current {
        border-left: 2px solid $gold;
      }
    }
  }
}

.heading {
  @include font(20px, 600, 160%);
  margin-bottom: 10px;
}

h4 {
  @include font(20px, 500);
  padding-bottom: 16px;
}

.anchor-link {
  color: #000;
}

.paragraph,
ul,
ol {
  @include font(18px, 400, 175%);
  @include margin-y(20px);
}

ul {
  list-style-type: disc;
  padding-left: 26px;
}

ol {
  list-style-type: decimal;
  padding-left: 26px;
}

li {
  padding-left: 6px;
  @include margin-y(8px);

  a {
    color: $link;
  }
}

.paragraph,
li,
a {
  code {
    @include font(16px);
    background-color: #0f766e29;
    color: $link-button;
    white-space: nowrap;
    border-radius: 5px;
    padding: 4px;
  }
}

a {
  &:not(.anchor-link, aside a) {
    @include link($blue-600);

    &:hover {
      text-decoration: none;
    }
  }
}

pre {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  overflow: auto;

  code {
    @include font(18px, 400, 160%);
  }
}

.code-toolbar {
  position: relative;

  &:first-of-type {
    margin-bottom: 20px;
  }

  .toolbar-item {
    @include position(absolute, $t: 8px, $r: 8px);

    button {
      background-color: $link-button;
      color: $white;
      padding: 4px 8px;
      @include border-only-radius(12px);
      cursor: pointer;

      &:hover {
        background-color: $link-button-hover;
      }
    }
  }
}

@import "../../responisive/theory.scss";
