@import "../../../utilities/mixins.scss";

#exercises {
  margin: auto;
  max-width: 1392px;
  padding: 20px 24px 64px;

  border-bottom-width: 3px;
  border-color: var(--borderColor7);
}

.about-exercises {
  @include flex($flow: column, $items: center);
  gap: 4px;

  &__description {
    font-size: 18px;
    margin-bottom: 24px;
  }
}

.accordion {
  max-width: 1392px;
  @include border(1px, $grey-300, 24px);
  @include shadow();

  &__header {
    @include flex($items: end, $content: space-between);

    padding: 32px 24px 24px;
    border-bottom: 1px solid $grey-300;
  }
}

.accordion .tab {
  @include font($size: 18px, $line-h: 160%);
  padding: 24px;

  &:not(&:last-of-type) {
    border-bottom: 1px solid $grey-300;
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &:checked {
      & ~ .tab__content {
        max-height: 10rem;
        padding: 8px 0px;

        &:first-of-type {
          margin-top: 24px;
        }
      }

      & ~ .tab__label::after {
        transition: all 0.3s;
        background-image: url("/src/public/svg/ic-chevron-up.svg");
      }
    }
  }

  &__label {
    @include flex($items: center, $content: space-between);
    gap: 12px;

    height: 48px;
    cursor: pointer;

    &::after {
      display: block;
      content: " ";
      background-image: url("/src/public/svg/ic-chevron-down.svg");
      @include size(16px);
    }
  }

  &__info {
    @include flex(start);
    gap: 24px;
  }

  &__number {
    text-align: center;
    @include font(18px, 600, 180%);
    color: $white;
    background-color: $black;
    @include size(32px);
    border-radius: 100px;
  }

  &__name {
    @include font(20px, 700, 130%);
  }

  &__short-describtion {
    @include font(16px, 400, 160%);
  }

  &__content {
    display: grid;
    grid-template-columns: 32px 172px 1fr;
    column-gap: 24px;
    row-gap: 16px;

    max-height: 0;
    // min-width: 172px;
    margin-left: 56px;

    margin-top: 8px;

    overflow: hidden;
    transition: all 0.3s;

    .img {
      @include size(32px);
    }
  }
}

.link {
  @include link();
  text-decoration: none;
  cursor: pointer;
}
