@import "../../../utilities/mixins.scss";

section {
  position: relative;
  padding: 20px 24px 64px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  @include position($pos: absolute, $t: 50%, $l: 50%);
  @include size(128px);
  margin-left: -64px;
  margin-top: -64px;
}

.features {
  position: relative;
  height: 654px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1050px;
}

.feature {
  // position: absolute;
  @include flex($flow: column, $items: center);

  @include font($size: 18px, $line-h: 160%);
  text-align: center;
  width: 340px;

  img {
    margin-bottom: 16px;
  }

  h3 {
    font-weight: 700;
    margin-bottom: 8px;
  }

  &:nth-of-type(2) {
    @include position($pos: absolute, $t: 10%, $l: 40px);
  }
  &:nth-of-type(3) {
    @include position($pos: absolute, $l: 45%);
  }
  &:nth-of-type(4) {
    @include position($pos: absolute, $t: 260px, $l: 0);
  }
  &:nth-of-type(5) {
    @include position($pos: absolute, $t: 480px, $l: 20%);
  }
  &:nth-of-type(6) {
    @include position($pos: absolute, $t: 420px, $r: 10%);
  }
  &:nth-of-type(7) {
    @include position($pos: absolute, $t: 170px, $r: 0);
  }
}
