@import "../../../utilities/mixins.scss";

#form {
  @include position(fixed, $t: 0px, $l: 0px);
  @include flex($content: center);
  display: none;
  @include size(100%);
  background-color: rgba(41, 41, 41, 0.6);
  padding: 24px 0px;
  transition: all 1s;
  z-index: 2;
}

.form {
  @include flex($flow: column);
  gap: 12px;
  background-color: $white;
  max-width: 320px;
  padding: 32px 24px 24px;
  border-radius: 12px;

  &__header {
    width: 192px;
    padding-bottom: 40px;

    img {
      width: 100%;
    }
  }

  &__oauth {
    width: 100%;
  }

  &__devidor {
    @include flex($content: center);
    position: relative;
    width: 100%;

    &::before,
    &::after {
      display: block;
      content: "";
      background-color: $black;
      width: 50%;
      height: 1px;
    }

    &::before {
      margin-right: 8px;
    }

    &::after {
      margin-left: 8px;
    }
  }

  &__inputs {
    .input-container {
      position: relative;
      @include flex();
      //   @include border(1px, $black, 6px);
      width: 100%;

      .label-image-container {
        @include position(absolute, $t: 0px, $l: 0px);
        @include flex($content: center);
        height: 100%;
        z-index: 5;

        img {
          padding-left: 12px;
          @include size(20px);
        }
      }

      input {
        display: block;
        position: relative;
        @include font(16px, 400, 20px);
        padding: 8px 12px 8px 40px;
        width: 100%;
        @include border(1px, $black, 0px);

        &[placeholder="email"] {
          border-top-left-radius: 6px;
          border-top-right-radius: 6px;
        }
        &[placeholder="password"] {
          border-bottom-left-radius: 6px;
          border-bottom-right-radius: 6px;
        }

        outline: none;
      }
    }
  }

  &__forgot-password {
    align-self: end;
    @include font(12px);
    color: $grey-500;
    transition: all 0.4s;

    &:hover {
      color: $grey-600;
    }
  }

  &__action-button {
    @include button((12px 24px), space-between, $background: $link-button);
    @include font(16px, 400, 120%, $white);
    justify-content: center;
    border-radius: 6px;
    width: 100%;

    &:hover {
      background-color: $link-button-hover;
    }

    &:active {
      background-color: $link-button-active;
    }
  }
}

.oauth {
  @include flex($content: center);
  gap: 8px;
  background-color: $button;
  padding: 8px 16px;
  @include border(1px, $black, 6px);
  transition: all 0.4s;
  cursor: pointer;

  &__text {
    @include font(16px, 500, 20px);
  }

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    background-color: $button-active;
  }
}
