@import "../../../utilities/mixins.scss";

#reviews {
  @include flex($items: center, $flow: column);
  max-width: 1392px;
  padding: 20px 24px;

  margin: 40px auto 0px;
}

.raiting {
  @include flex($content: center);
  margin-bottom: 16px;

  &__number {
    @include font($size: 64px, $weight: 700);
  }

  &__info {
    @include flex($items: start, $flow: column, $content: space-between);

    @include margin-y(8px);
    margin-left: 24px;
  }
}

.raiting-stats__stat {
  display: grid;
  align-items: center;
  grid-template-columns: 48px 1fr 32px;
  column-gap: 16px;

  margin-top: 8px;
}

.stat__percentage {
  text-align: right;
}

.stat__scale {
  @include border(0.0625rem, $black, 5rem);
  background-color: $white;
  @include size(216px, 0.5rem);
}

.stat__scale-value {
  height: 100%;
  border-radius: 5rem;
  background: $gold;

  &[star="5"] {
    width: 65%;
  }
  &[star="4"] {
    width: 23%;
  }
  &[star="3"] {
    width: 7%;
  }
  &[star="2"] {
    width: 2%;
  }
  &[star="1"] {
    width: 2%;
  }
}

.reviews-container {
  position: relative;
  @include size(100%, 444px);
  overflow-x: hidden;

  padding-top: 8px;
  margin-top: 64px;
}

.reviews {
  position: absolute;
  display: flex;
  gap: 64px;

  width: 1248px;
  animation: 25s linear 1s infinite running alternate carousel;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes carousel {
  0% {
    right: 0px;
  }

  100% {
    right: 2624px;
  }
}

.reviews__set {
  display: flex;
  gap: 64px;
}

.review {
  @include border(1px, $radius: 16px);
  @include flex(start, space-between, column);
  gap: 16px;
  line-height: 1.5;
  width: 214px;
  padding: 48px 32px 24px 16px;

  @include shadow();
}
