@import "../../utilities/mixins.scss";

main {
  @include flex(start, center);
  padding: 0px 8px;
  max-width: 1392px;
  margin: 0 auto;
}

.exercise,
.goals,
.solution {
  padding: 20px;
  margin-bottom: 32px;
  @include border($color: #000, $radius: 8px);
}

.goals,
.exercise {
  max-width: 768px;
}

.code {
  margin-bottom: 24px;

  &__label {
    @include font(18px, 400, 160%);
    margin-bottom: 12px;

    code {
      @include font(18px, 400, 160%);
      background-color: #0f766e29;
      color: $link-button;
      border-radius: 5px;
      padding: 0px 6px;
    }
  }

  &__wrapper {
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
  }

  &__text {
    position: relative;
    left: -160px;
    @include font(18px, 400, 160%);
  }
}

.extra-info {
  @include flex($content: space-between);
  margin-bottom: 40px;

  .contributors {
    @include flex();
    gap: 8px;

    &-img {
      @include size(32px);
      border-radius: 100%;
    }

    &__number {
      font-weight: 500;
    }
  }

  .link {
    @include flex();
    gap: 12px;
    color: $text-link;

    &__img {
      @include size(22px);
    }

    &__open-icon {
      @include size(12px);
    }
  }
}

@import "./article.scss";
@import "./solution.scss";
@import "./goals.scss";
@import "../../responisive/exercise.scss";
