@import "../../utilities/mixins.scss";

.dashboard-card {
  @include border(1px, $radius: 8px);
  @include shadow();

  &__head {
    @include flex($content: space-between);
    @include font($weight: 600, $line-h: 56px);
    padding: 0px 24px;
    border-bottom: 1px solid $border;
  }

  &__body {
    @include flex($flow: column);
    padding: 16px;
  }

  &__footer {
    @include flex();
    border-top: 1px solid $border;
    padding: 16px;
  }
}

.stats {
  @include flex(center, space-around);

  .stat {
    @include flex($items: center, $flow: column);

    &__label {
      @include flex(center);
      gap: 8px;
      @include font(14px, 300);
    }

    &__data {
      @include font(20px, 600, 28px);
    }
  }
}

.submit-button {
  @include button((4px 16px), space-between, $background: $link-button);
  @include font(16px, 400, 120%, $white);
  justify-content: center;
  border-radius: 6px;

  &:hover {
    background-color: $link-button-hover;
  }

  &:active {
    background-color: $link-button-active;
  }
}

.tasks-table {
  width: 100%;
}

.task {
  @include flex($content: space-between);
  padding: 12px 8px;

  &:hover {
    background-color: $background-hover;
  }

  &:not(&:last-of-type) {
    border-bottom: 1px solid $border;
  }

  &__name {
    word-break: break-word;
    font-size: 14px;

    a {
      display: block;
      color: $text-link;
      width: 90px;
      transition: all 0.4s;

      &:hover {
        color: $text-link-hover;
      }
    }
  }

  &__type {
    &[type="coding"] {
      @include task-type($coding);
    }
    &[type="theory"] {
      @include task-type($theory);
    }
    &[type="test"] {
      @include task-type($test);
    }
    &[type="lecture"] {
      @include task-type($lecture);
    }
  }

  .deadline {
    @include flex($content: end, $flow: column);
    gap: 8px;

    &__head {
      @include flex(center);
      gap: 4px;
      @include font(14px, 300, 1.5);
      filter: opacity(0.5);
    }

    &__data {
      @include font(14px, 400, 1.5);

      &_coming {
        @include font(14px, 400, 1.5);
        color: $test;
      }
    }
  }
}

.cross-check {
  @include flex(center, center, column);
  gap: 16px;
  @include font(14px);

  &__data_empty {
    @include flex($flow: column);
    gap: 8px;
  }
}

.note {
  @include flex(top);
  gap: 4px;
  @include font(14px, 400, 1.5);
  padding: 8px 4px;

  &__annotation {
    color: $highlight-text;
  }
}

.repository {
  @include flex($flow: column);
  gap: 10px;

  &__link {
    @include flex();
    color: $text-link;
    gap: 4px;

    &:hover {
      color: $text-link-hover;
    }
  }
}

.tasks {
  &-heading {
    @include font($weight: 600, $line-h: 56px);
  }

  &-link {
    @include font(14px, 400);
    @include link($text-link);
    text-decoration: none;
    transition: all 0.4s;
  }
}

.fix-repo {
  @include flex($content: center);
  gap: 8px;
  background-color: $button;
  @include font(14px, 400, 120%);
  padding: 4px 16px;
  @include border(1px, $border, 6px);
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    @include button-hover();
  }

  &:active {
    @include button-active();
  }
}
