@import "./card.scss";
@import "./ring.scss";

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1392px;
  padding: 0 24px;
  margin: 0 auto;

  &-card {
    &:nth-of-type(1) {
      height: 354px;
    }

    &:nth-of-type(2) {
      height: 325px;
    }

    &:nth-of-type(4) {
      position: relative;
      top: -184px;
    }

    &:nth-of-type(5) {
      position: relative;
      top: -213px;
      height: fit-content;
    }

    &:nth-of-type(6) {
      height: fit-content;
    }
  }
}

@import "../../responisive/site-header.scss";
@import "../../responisive/dashboard-page.scss";
