@import "./card.scss";
@import "./ring.scss";

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1392px;
  padding: 0 24px;
  margin: 0 auto;

  &-column {
    @include flex($items: stretch, $flow: column);
    gap: 24px;
    width: 100%;
  }
}
